*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
:root{
    --Red: hsl(4, 100%, 67%);
    --Blue: hsl(234, 29%, 20%);
    --Blue-700: hsl(235, 18%, 26%);
    --Grey-800: hsl(0, 0%,58%);
    --White: hsl(0, 0%, 100%);
}
body{
    background-color: var(--Blue);
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.card{
    width: 55%;
    display: flex;
    background-color: var(--White);
    border-radius: 2rem;
}
.card_left{
width: 55%;
padding: 3rem;
display: flex;
flex-direction: column;
justify-content: center;
gap: 1.5rem;
}
.card_left  h1{
    color: var(--Blue);
    font-size: 3rem;
}
.card_left  p{
    color: var(--Blue-700);
    font-size: 1rem;
}
.card_list ul{
    display: flex;
    flex-direction: column;
    gap: 0.6em;

}
.card_list li {
    display: flex;
    align-items: center;
    gap: 1rem;
}  

.send_card{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* align-items: center; */
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
form label{
    color: var(--Blue);
    font-weight: 500;
    /* padding-top: 0.5rem; */
}
.card_mail{
padding: 1rem;
border: 0.1rem solid var(--Grey-800);
border-radius: 0.5rem;

}
.card_btn{
padding: 1rem;
margin: 1rem 0rem;
border: white;
border-radius: 0.5rem;
background-color: var(--Blue);
color: var(--White);
font-weight: 500;
/* letter-spacing: 1px; */
}
.card_right{
    width: 45%;
    padding: 1rem;

}
.deskop_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.mobile_img{
    display: none;
}

 /* Deskop message  */
 #error{
    color: var(--Red);
    font-size: 1rem;
    font-weight: 500;
    align-items: center;
 }
 .card_mail.error_mode{
    background-color:#FFE8E7;
    border-color: var(--Red);
    color:var(--Red) ;
 }
 /* .card_mail.error_mode::placeholder{
    color: var(--Red);
 } */
.confirm_active{
    /* display: flex;
    flex-direction: column;
    gap: 2rem; */
    width: 30%;
    background-color: var(--White);
    border-radius: 2rem;
    padding: 4rem;
    color: var(--Blue);
    display: none ; 
}
.confirm_active h1{
    font-size: 3rem;
    margin: 1rem 0rem;
}
.confirm_active p{
    font-size: 1.2rem;
    margin: 1rem 0rem;
  
}
.active_btn{
    padding: 1.5rem;
    border-radius: 0.8rem;
    border-color: #FF586D ;
    color: var(--White);
    text-align: center;
    justify-content: center;
    width: 100%;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 1.5rem;
    background-image: linear-gradient( to right, #FF586D, #FF6549);
}
.active_btn:hover{
    background-color: var(--Blue);
    border-color: var(--Blue);
}
.confirm_active.show{
    display: block;
}
.hidden{
    display: none !important;
}
@media only screen and (max-width: 600px) {
.card{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 0;
}
.card_left{
    width: 100%;
    padding: 1.5rem;
}
.card_left h1{
    font-size: 2rem;
    font-weight: 800;
}
.card_left p{
    font-size: 0.9rem;
}
.card_list li p{
    white-space: wrap;
    font-size: 0.9rem ;
}
form label{
    font-size: 0.8rem;
    font-weight: 700;
}
.card_btn{
    margin-top: 0.5rem ;
    margin-bottom: 0.8rem;
    font-size: 0.7rem;
}
.card_right{
    width: 100%;
    padding: 0rem;

}
.mobile_img{
    width: 100%;
    height: 100%;
    display: block;
}
.deskop_img{
    display: none;
}
.confirm_active{
    width: 100%;
    border-radius: 0rem;
    padding: 2rem;
}
.confirm_content{
margin-top: 5.5rem;
margin-bottom: 12rem;
}


}
